*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*border: 0.5px solid salmon;*/
}
img
{
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
body
{
    height: 500vh;
    
    grid-template-areas: 
    "head head head"
    "content content"
    "foot foot foot";
}
#mainContent
{
  grid-area: content;
}
#navbar
{

  margin-left: 15%;
  margin-right: 15%;
}
.navbar
{
  grid-area: head;
  background: linear-gradient(to bottom, rgba(15,33,76,1) 0%,rgba(15,33,76,0.83) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.dropdown-menu, dropdown-item
{
  background-color: rgb(11, 24, 54) !important;
}
.navbar-text, .navbar-brand
{
  color: aliceblue;
}
#shiftRight
{  
  right: 0px !important;
}
.header-container
{
  width: 100%;
  background-color: black;
}
.indent
{
  margin-left: 15%;
  margin-right: 15%; 
}
.threeColSection
{
  display: grid;
  grid-template-areas: 
  "one two three"
  "one two three";
}
#col1
{

  width: fit-content;
  margin: 5px;
  border: 1px solid black;
  grid-area: one;
}
#col2
{

  width: fit-content;
  margin: 5px;
  border: 1px solid black;
  grid-area: two;
}
#col3
{

  width: fit-content;
  margin: 5px;
  border: 1px solid black;
  grid-area: three;
}

